<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490062154835-02e9qn1l0k2g1qhba8k09f8qjc6gvkvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490062154835-02e9qn1l0k2g1qhba8k09f8qjc6gvkvp</string>
	<key>API_KEY</key>
	<string>AIzaSyAZNhTzC3NB3zxuFRzWLtMmtutXCyZd5eM</string>
	<key>GCM_SENDER_ID</key>
	<string>490062154835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blueeye.system</string>
	<key>PROJECT_ID</key>
	<string>bluear-bodydetection</string>
	<key>STORAGE_BUCKET</key>
	<string>bluear-bodydetection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490062154835:ios:384a3678f97f4f38</string>
	<key>DATABASE_URL</key>
	<string>https://bluear-bodydetection.firebaseio.com</string>
</dict>
</plist>